# Default ignored files
/../../SEM-2_Assigment-4./.idea/shelf/
/../../SEM-2_Assigment-4./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../SEM-2_Assigment-4./.idea/httpRequests/
# Datasource local storage ignored files
/../../SEM-2_Assigment-4./.idea/dataSources/
/../../SEM-2_Assigment-4./.idea/dataSources.local.xml
